/* @media (max-width: 575px){
}
@media (min-width: 576px){
}
@media (min-width: 768px){
}
@media (min-width: 992px){
} 
@media (min-width: 1200px){
} */
.row{
    margin: 0;
}
input{
    padding-left: 2%;
    padding-right: 1%;
    font-size: 120%;
}
    #invoer{
        width: 90%;
        height: 40px;
    }
    .veld button{
        height: 60px;
    }