.login_form{
	width: 30%;
	height: 30%;
	display: block;
	margin: auto;
	margin-top: 100px;
}

.login_form h2{
	text-align: center;
	margin-left: 25px;
	margin-top: -3px;
	font-size: 45px;
	color: #993333;
}

.login_form input{
	width: 80%;
	margin-left: 10%;
	padding: 10px;
	margin-top: 15px;
	font-size: 15px;
	box-shadow: 3px 5px #993362;	
}

.login_form button{
	width: 40%;
	display: block;
	margin: auto;
	margin-top: 10px;
	padding: 10px;
	background-color: white;
	font-size: 23px;

}

.login_form button:hover{
	
	color: #993333;
}

.register_form{
	width: 30%;
	height: 30%;
	display: block;
	margin: auto;
	margin-top: 100px;
}

.register_form button{
	width: 28%;
	height: 17%;
	display: block;
	margin: auto;
	margin-top: 0px;
	padding: 10px;
	background-color: white;
	font-size: 15px;
}

.register_form button:hover{
	color: #993333;
}