html{
	background-color: rgb(244, 244, 244);
}
.container{
	background-color: rgb(244, 244, 244);
}

.logo{
	width: 25vw;
	height: 5vw;
}

.login a, .register a{
	color: black;
	font-size: 20px;
}

.line{
	width: 100%;
}