.homepage{
	width: 45%;
	margin: auto;
}

.welkom_title{
	font-size: 2.5rem;
	text-align: center;
}

.welkom_content div{
	margin: auto;
	height: 50%;
}
.slideshow img{
	width: 50%;
}
.welkom_content p{
	color: #993333;
	font-size: 15px;
}
.active {
	border: 5px solid lime;
}
.row{
	margin: 0;
}