*{margin: 0; padding: 0;}

@media (min-width: 576px){

}
@media (min-width: 768px){
    
}
@media (min-width: 992px){
    
}
@media (min-width: 1200px){
    
}

:root{
    --color1: #4d589f;
    --color2: #34429b;
    --color3: #151E5D;
    --color4: #;
    --color5: #;
}

main{
    min-height: calc(100vh - 70px);
}